@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to YenePay Send Money Client Example</h1>
    <div class="my-5">
        <a class="btn btn-primary btn-lg" asp-action="Send">Send Money</a>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Learn about <a href="https://yenepay.com/developer">building payment with YenePay</a>.</p>
</div>
